.card {
  height: 11.5rem;

  .detail & {
    height: 13.25rem;
  }

  background-color: #f1f2f4;
  background-position: center center;
  background-size: cover;
  margin-top: 3rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  @include transition(all ease-in-out 0.2s);

  @include hover-focus-active() {
    box-shadow: 0 8px 16px rgba(0, 0, 0, .4);
  }
}

.card-title {
  background-color: rgba($cyan, 0.9);
  height: 11.5rem;
  width: 55%;

  .detail & {
    width: 100%;
  }

  &.card-title-left {
    padding-left: 1.75rem;
  }

  h1 {
    // font-size: 1.5rem;
  }
  h2 {
    // font-size: 0.75rem;
    margin-top: 1.625rem !important;
  }
}